@media (min-width: 600px) {

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 1.2rem;
    }

    .hamburger {
        display: none;
    }

    .spotlights #spotlight-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media (min-width: 900px) {

    .spotlights #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }
}