@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        margin: 0 1rem;
    }

    .about {
        grid-template-columns: 2fr 1fr;
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        max-width: 1000px;
        margin: auto;
    }
}